#teclado{
    display: none;
}


@media screen and (max-width: 480px) {
    
    #teclado{
        background-color: rgba(255, 166, 0, 0.8);
    z-index: 4;
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 25dvh;
    display: block;
    bottom: -25%;
    transition: 0.5s;
}

#teclado div{
    
    width: 100%;
    margin-block: 1%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding-inline: 2%;
}

#teclado span{
    font-family: "Jersey 15", serif;
    border: 1px solid;
    font-size: 150%;
    flex: 1;
    text-align: center;
    padding: 2%;
    color: white;
    text-transform: uppercase;
}

.tecladas{
    animation: pulsar 0.2s forwards;
}

@keyframes pulsar{

    50%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(1);
    }
    
}
}
